.schedule {
    position: relative;
    text-align: center;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: vh;
}

.schedule::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/logobw.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
}

.text {
    color: black;
    padding: 200px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.schedule h1 {
    padding: 30px;
    text-decoration: underline;
}

.schedule h2 {
    text-decoration: underline;

}

.schedule ul {
    padding: 0 0 30px;
    list-style-type: none;
}