.home {
    /* background-image: url('../../assets/images/biggccf.jpg'); */
    justify-content: center;
    text-align: center;
    text-align: center;
    color: white;
    background-color: black;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.header {
    background-color: black;


}

.header img {
    height: 600px;
}

.body{
    padding: 10px 0 60px;
}

.platform img {
    width: 100vw;
}

.home h1 {
    width: 100%;
}