.home {
    /* background-image: url('../../assets/images/biggccf.jpg'); */
    justify-content: center;
    text-align: center;
    text-align: center;
    color: white;
    background-color: black;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.header {
    background-color: black;


}

.header img {
    max-height: 600px;
}

.body-content {
    padding: 10px 0 60px;  
        word-break: break-word; 

}

.body-content h2{
    color: rgb(162, 161, 161); 
    text-shadow:rgb(197, 197, 197);
}

/* .platform {
    position: relative;
    display: inline-block; 
    overflow: hidden;
} */

.platform img {
    width: 100vw;
    padding-bottom: 40px; 
} 



.home h1 {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .body-content{
        padding: 0 20px;
    }
    .header img {
        max-height: 300px;
    }

}