.navbar {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100vw;
}


.navbar-brand {
    text-align: center;
}

.navbar img {
    padding: 0 9px 0 0;
    height: 50px;
}

.navbar-collapse{
padding-right: 40px;
}

.navbar-toggler.collapsed {
  background-color: rgba(194, 38, 38, 0.362);
}