.coaches{
    padding: 80px;
    text-align: center;
    
}

.coaches h1, h2{
        font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.coaches li {
    list-style-type: none;
    text-align: center;
    
}

.coach-profile{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.coach-profile img{
    max-width: 300px;
    border-radius: 10px;
    margin: 30px;
 transition: opacity 0.3s ease-in-out;
}
.coach-profile a {
    display: block; /* Make the entire link area clickable */
}
.coach-profile img:hover{
    opacity: 0.8;
}

.deets {
    margin: 70px 50px;
}

.deets ul {
    padding: 30px;
}