.coaches-section {
    padding: 80px 20px;
    text-align: center;

}

.coaches-section h1,
h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.coaches-heading {
    margin-bottom: 50px;
    /* Add space below the main heading */
    font-size: 3.5rem;
    /* Use rem for scalable font sizes */
    color: #333;
    /* A slightly darker color for better contrast */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    /* Subtle text shadow */
}

.coach-credentials-list {
    list-style-type: none;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;

}

.coach-credentials-list li {
    margin-bottom: 5px;
    font-size: 1.6rem;
    color: #555;

}

.coach-profile {
    display: flex;
    align-items: center;
    padding: 30px 15px;
    margin-bottom: 40px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.coach-profile a {
    display: block;
    line-height: 0;
}

.coach-profile img {
    max-width: 280px;
    height: auto;
    border-radius: 10px;
    margin: 0;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: 3px solid transparent;

}

.coach-profile img:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-color: #100e0e5d;
}

.deets {
    text-align: center;
    margin-top: 30px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.deets .coach-name {
    font-size: 2.2rem;
    margin-bottom: 10px;
    color: #444
}

@media screen and (min-width: 769px) {
    .coach-profile {
        padding: 40px;
    } 

    .deets {
        text-align: left; 
        margin-top: 0;
    }
}

@media screen and (max-width: 768px){
    .coaches-section{
        padding-top: 60px; 
        padding-bottom: 40px;
    } 

    .coaches-heading {
        font-size: 2.5 rem; 
        margin-bottom: 30px;
    } 

    .coach-profile{
        padding: 20px 10px; 
        margin-bottom: 30px;
    } 

    .coach-profile img{
        max-width: 180px; 
        margin-bottom: 20px ;
    } 

    .deets {
        margin-top: 0;
    } 

    .deets .coach-name{
        font-size: 1.8rem;
    } 

    .coach-credentials-list li{
        font-size: 1rem;
    }
    
}